.container {
	/* display: flex;
	flex-direction: column; */
}

.button {
	font-weight: bold;
	color: white;
	background-color: #008CBA;
	border-radius: 0.5rem; 
	height: 2rem;
	width: 10rem;
}

.blue-field {
	background-color: #008CBA;
}

.delete-button {
	border: 0px;
	text-decoration: underline;
	color: rgb(55, 0, 255);
	background-color: transparent;
	cursor: pointer;
}

.container-1 {
	display: inline-grid;
	grid-template-columns: 8rem 26rem auto;
	column-gap: 1rem; 
}

.container-2 {
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: inline-grid;
	grid-template-columns: auto auto auto auto auto;
	column-gap: 1rem;
	row-gap: 1rem;
}

.container-3 {
	margin-top: 1rem;
	margin-left: 16.5rem;
	display: inline-grid; 
	grid-template-columns: auto auto auto; 
	row-gap: 1rem;
	column-gap: 1rem;
}  